* {
  box-sizing:border-box;
  font-family:arial;
}

html {
  font-size:62.5%;
}

body {
  background-color:var(--backgroundGray);
}

:root {
  --grayBorder:#dbdbdb;
  --backgroundGray:RGB(250, 250, 250);
  --mainButtonsBlue:#0095f6;
  --facebookBlue:#385185;
  --darkerGray:#8e8e8e;
}

.screenContainer {
  padding:25px;
  display:flex;
  flex-flow:row;
  align-items:center;
  justify-content:center;
  width:100%;
}

.column-gap {
  margin-bottom:10px;
}

