.instagramName {
  position:relative;
  left:50%;
  transform:translateX(-50%);
  width:165px;
  margin-bottom:30px;
}

.mainLinkText {
  color:var(--mainButtonsBlue);
  cursor:pointer;
  text-decoration:none;
  font-weight:600;
}

.mainLinkTextWithoutBold {
  color:var(--mainButtonsBlue);
  cursor:pointer;
  text-decoration:none;
}

.orContainer {
  display:flex;
  flex-flow:row;
  align-items:center;
  margin:15px 0px;
}

.orContainer > div {
  width:40%;
  border-top:1px solid var(--grayBorder);
}

.orContainer > span {
  color:gray;
  font-weight:600;
  text-transform:uppercase;
  width:20%;
}

.smallText {
  color:gray;
  font-size:1.2rem;
  text-decoration:none;
}

#loginWithFacebook {
  color:var(--facebookBlue);
  font-weight:600;
  font-size:1.6rem;
  cursor:pointer;
}

#loginWithFacebook::after {
  font-size:1.4rem;
  content:" Log in with facebook";
}

#forgotPassword {
  font-size:1.2rem;
  color:var(--facebookBlue);
  cursor:pointer;
}

#singUpTo {
  color:var(--darkerGray);
  font-weight:600;
  font-size:1.6rem;
  margin-top:-10px;
  margin-bottom:15px;
}